[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=check_idletime
Comment=check_idletime
Exec=python /opt/check_idletime.py
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

